html {
  background-image: linear-gradient(to bottom, rgb(49, 28, 67), rgb(39, 30, 47));
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  
  margin: 0;
  padding: 0;

  margin-top: -10em;
}

#inner-body {
  background-color: rgba(230, 162, 162, 0.108);
}

#page-top-image {
  position: relative;
  height: 600px;
  z-index: -2;
  margin-top: -10px;
  margin-bottom: -55px;
}

#page-top-image > img {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}


#page-heading {
  background-color: rgb(251, 182, 130);
  box-shadow: 3px 1px 10px rgba(25, 0, 255, 0.187);
  
  font-size: 16px;
  padding-top: 10px;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  z-index: 9999;

  display: flex; 
  height: 3em;
  width: calc(100% - 20px);
  padding: 10px;
  transition:  0.3s;

  position: fixed;
  top:0;
}

#heading-social-media-links {
  display: inline-block; 
  position: relative;

  left: 10px;
  top: 0px;

  min-width: 280px;


  position: relative;
  bottom: 30px;
}

#heading-logo {
  width: 40px;
  border-radius: 40px;
  transition: 0.6s;
}

#heading-title {
  font-size: 0px;
  pointer-events : none;
  transition:ease-out .6s;
  display: inline-flex;
  line-height: 1px;

  position: relative;
  bottom: 30px;
}

#navigation {
  font-size: 18px;
  display: inline-flex;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  min-width: 720px;
  max-width: 100%;
  position: relative;
}


#navigation > div {
  flex: 0 1 2;
}

#navigation-icon {
  position: relative;
  top: 5px;
}

#heading-title > h1 {
  color: rgba(0, 0, 0, 0);
}

html:is([data-scroll='0']) {

  #page-heading {
    display:flow-root;
    height: 8em;
    padding-bottom:60px;
    
  }

  #navigation {
    background-color: rgba(150, 37, 37, 0.198);
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-radius: 20px;
    padding-top:0.8em;
    width:130%;
    bottom: 0.8em;
    height: fit-content;
  }

  #heading-logo {
    width: 100px;
    text-align: left;
    border-radius: 100px;
  }

  #heading-title {
    font-size: 31px;
  }

  #heading-title > h1 {
    color: rgb(80, 86, 46);
  }

  #heading-social-media-links {
    top: unset;
  }
} 

#content-box {
  min-width: 50%;
  width: calc(40%);
  background-color: rgb(252, 203, 176);
  background-image: linear-gradient(to bottom left, rgb(252, 203, 176), rgb(221, 180, 145));
  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  box-shadow: 3px 1px 10px rgba(49, 51, 54, 0.267);

}

#flex {
  display: flex;
  justify-content: center;
}

#courses-flex {
  display: flex;
  justify-content: center;
}

#course-container{
  padding: 20px;
  border-radius: 10px;
  min-height: 300px;

  height: 600px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(49, 51, 54, 0.736);
  transition: 0.5s;
}

#course-container-border {
  padding: 6px;
  min-width: 300px;
  width: 35%;
  transition: 1s;
}

#course-container-border:hover{
  width:40%;
}

#course-container:hover{
  height: 640px;
  margin-top: -20px;

  #course-container-text {
    color: rgb(255, 237, 213);
  }
  
}

#h2-background {
  position: relative;
  background-color: rgb(55, 37, 65);
  width: 100%;
  
  text-align: center;
  min-height: fit-content;
  height: 180px;
  
  margin-top: -22px;
  margin-bottom: -45px;

  z-index: -1;
}

#course-container > h3 {
  color: rgb(255, 226, 191);
}

#course-container > div > h3 {
  color: rgb(255, 226, 191);
}

#course-container-text {
  color: rgba(255, 237, 213, 0);
  font-size: 16;
  transition: ease-in .4s 0.5s
}

#course-container > h3 > a {
  color: rgb(255, 170, 59);
  font-size: 20px;
}

#course-container > div > h3 > a {
  color: rgb(255, 170, 59);
  font-size: 20px;
}


#employee-profile-left{
  text-align: right;
  position: relative;
  right: 10%;
  width: 110%;
  display: flex;

}

#employee-profile-right{
  text-align: right;
  position: relative;
  left: 0%;
  display: flex;
}

#employee-image{
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  width: 300px;
  float:left;
  border-radius: 30px;
}

#employee-information{
  background-color: rgb(255, 215, 187);
  padding: 20px;
  border-radius: 20px;
  box-shadow: -3px 1px 10px rgba(49, 49, 70, 0.296);
  
  height: 300px;
  min-height: fit-content;
  display: inline;
}

#employee-information > p {
  color: rgb(35, 26, 12);
}

#back-to-top-button {
  display: inline-block;
  position: relative;
  left: 6%;
}

#footer-social-media-links {
  display: inline-block;
  position: relative;
  word-spacing: 10px;
  right: 6%;
}

#submit-application-button {
  align-self: center;
  justify-content: center;
  text-align: center;
  
}

button {
  width: fit-content;
  height: fit-content;
  background-color: rgba(240, 255, 255, 0);
  border-width: 0;

}

button
{
  scale: 90%;
}

button:hover {
  scale: 110%;
}

.button {

  scale: 100%;
}

.button:hover {
  scale: 120%;
}

input, textarea, select {
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  background-color: rgba(255, 220, 201, 0.879);
  border-width: 2px;
  border-color: rgba(89, 70, 55, 0.567);
  border-style: double;
  resize: vertical;
  width: calc(100% - 40px);
}

input[type=submit] {


  font-size: 40px;
  font-family: "Nunito Sans";
  font-weight: 800;
  background-color: hsl(39, 100%, 96%);
  color: rgb(80, 67, 51);

  padding-bottom: 1em;
  

  position: relative;

  margin-left: 0;
  border-radius: 40px;
  
  width: fit-content;
  border-width: 2px;
  top: -10px;
  transition: 0.4s;

  width: 60%;

  cursor: pointer;
}

input[type=submit]:hover {
  width: calc(100% + 60px);
  border-radius: inherit;
  top: 20px;
  padding-bottom: 1.2em;
  border-color: hsl(39, 100%, 96%);
  margin-left: -80px;
  margin-right: -80px;
  background-color: rgb(255, 255, 255);
  color: rgb(181, 155, 123);
}

input[type=checkbox] {
  display: inline-block;
  text-align: left;
  width: unset;
}

option:hover {
  background-color: azure;
}

a {
  color: rgb(82, 62, 35);
  font-family: "Nunito Sans";
  font-weight: 800;
}

li {
  font-weight: 600;
  font-family: "Nunito Sans";
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(39, 23, 11);
  font-size: 110%;
  padding: -20%;
}

a.button {
  font-size: 0;
  font-family: "Nunito Sans";
}

p {
  font-weight: 600;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans";
}

h1 {
  font-weight: 900;
  font-family: "Nunito Sans";
  color: rgb(80, 86, 46);
  text-align: right;
}

h2 {
  font-size: 35px;
  color: rgb(249, 255, 215);
  
  font-weight: bolder;
  font-family: "Nunito Sans";

  position: relative;
  top: 20px;
}


h3 {
  font-size: 40px;
  font-weight: 800;
  color: rgba(46, 45, 27, 0.892);
  text-align: left;
  padding-left: 20px;
  font-family: "Nunito Sans";
}

label {
  font-family: "Nunito Sans";
  font-weight: 500;
}

footer {
  display: block;

  text-align: center;
  align-items: center;
  align-content: center;
  background-color: rgb(251, 182, 130);
  color: rgb(93, 61, 34);

  position: relative;
  bottom: -10px;
  padding-bottom: 10px;
  height: 80px;
}

footer > p {
  color: rgb(129, 104, 83);
}

@font-face {
  font-family: "Nunito Sans";
  src: url('Fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf'); 
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url('Fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf'); 
}

::selection {
  color: rgb(255, 229, 206);
  background: rgba(151, 134, 111, 0.739);
  
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff9ec;
  border-radius: 10px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #c2a796;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4c352b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 235, 235);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 1100px) {
  li {
    font-size: large;
  }

  p {
    font-size: large;
  }

  a {
    font-size: large;
  }

  footer {
    height: fit-content;
  }

  footer > p {
    font-size: large;
  }

  footer > p > a {
    font-size: large;
  }

  h2 {
    font-size: 2em;
  }

  #footer-social-media-links {
    width: 100%;
    
  }


  #flex {
    flex-wrap: wrap;
  }

  #content-box {
    width: 100%;
    border-radius: 0;
  }

  
  #courses-flex {
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 0;
  }

  #course-container {
    max-height: 470px;
    width: 100%;
  }

  #course-container-border {
    width: 100%;
  }

  #course-container-border {
    width: 100%;
  }

  #course-container-border:hover{
    width:100%;
  }

  #course-container:hover{
    height: 600px;
    margin-top: 0
  }

  #course-container-text {
    color: rgb(255, 237, 213);
    font-size: large;
  }

  #h2-background {
    border-radius: 0;
  }

  #page-top-image {
    height: fit-content;
  }
  #page-top-image > img {
    position: inherit;
  }

  #employee-profile-left {
    padding: 20px;
    text-align: left;
    position: relative;
    width: 100%;
    right: 20px;
  }

  #employee-profile-right {
    padding: 20px;
    text-align: left;
    position: relative;
    left: 0px;
    
  }

  #employee-information {
    height: unset;
  }

  #page-heading {
    display: block;
    height: 90px;
  } 

  #heading-social-media-links {
    width: fit-content;
    
    top: 0px;
  }
  
  #navigation {
    min-width: 0px;
    overflow: auto;
    display: inline-flex; 
    
    text-align:end;
    font-size: large;
    bottom: unset;
    
  }

  html:is([data-scroll='0']) #page-heading {
    #heading-title {
      font-size: larger;
    }
  }
}

@media only screen and (max-width: 776px) {

  #navigation-icon {
    scale: 0;
    width: 0;
    height: 0;
  }

  html:is([data-scroll='0']) #page-heading {
    #navigation {
      bottom: 30px;
      padding-bottom: 10px;
      top:unset;
    }

    #heading-social-media-links {
      left: 50%;
    }
  }
  #navigation {
    top: 10px;
  }

  #heading-title {
    transition: unset;
  }

  #heading-logo {
    transition: unset;
  }

  
}